.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  max-width: 80rem;
  width: 80rem;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

@media (prefers-reduced-motion) {

}
