#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  --color-background: white;
  --color-text-body: #333;
  --font-body: 'Helvetica', 'Arial', sans-serif;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--font-body);
  min-height: 100%
}

body {
  background: var(--color-background);
  color: var(--color-text-body);
  display: flex;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
